@import 'columnizer';

@mixin tracking($tracking)
{
    letter-spacing: $tracking / 1000 * 1em;
}

// Fontello Mixin
@mixin fontello($icon)
{
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    content: $icon;
    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
